<% locale_form = Decidim::Toggle::UpdateLocaleForm.from_model(@organization) %>
<%= form_with url: decidim_toggle_update_locale_organization_path(@organization), scope: :organization, method: :patch, html: { id: "locale_tab_form" }, local: true do |lf| %>
    <fieldset>
      <legend class="form-label"><%= t("legend", scope: "decidim_toggle.system.organizations.language_tab") %></legend>
      <table class="table-fields">
        <thead>
          <tr>
            <th><%= t("locale", scope: "decidim_toggle.system.organizations.language_tab") %></th>
            <th><%= t("enabled", scope: "decidim_toggle.system.organizations.language_tab") %></th>
            <th><%= t("default", scope: "decidim_toggle.system.organizations.language_tab") %></th>
          </tr>
        </thead>
        <tbody>
          <% localized_locales(I18n.available_locales).each do |locale| %>
            <tr>
              <td><%= locale.name %></td>
              <td><%= check_box_tag "organization[available_locales][#{locale.id}]", locale.id, locale_form.available_locales.include?(locale.id), class: "!m-0" %></td>
              <td><%= radio_button_tag "organization[default_locale]", locale.id, locale_form.default_locale == locale.id, class: "!m-0" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </fieldset>
    <%= lf.submit t("save", scope: "decidim_toggle.system.organizations.language_tab"), class: "button button__sm button__primary" %>
  <% end %>
