<% if encryption_configured? %>
  <%= append_stylesheet_pack_tag "decidim_toggle", media: "all" %>
  <%= append_javascript_pack_tag "decidim_toggle" %>
  <% organization = local_assigns[:organization] %>
  <% tabs = Decidim::Toggle::SettingsTabs.new(:organization_settings) %>
  <% tabs.build_for(self) %>
  <div data-component="accordion" data-multiselectable="false" data-collapsible="false" id="decidim-toggle-settings-tabs">
    <ul class="tab-x-container tabs-<%= tabs.items.size %>">
      <% tabs.items.each do |tab| %>
        <li>
          <button type="button" id="trigger-toggle-<%= tab.identifier %>" class="tab-x" data-controls="panel-toggle-<%= tab.identifier %>" <%= "data-open=\"true\"".html_safe if tab.open? %>>
            <%= tab.label %>
          </button>
        </li>
      <% end %>
    </ul>

    <% tabs.items.each do |tab| %>
      <div id="panel-toggle-<%= tab.identifier %>" class="border-2 rounded border-background p-4 form__wrapper mt-8" aria-hidden="<%= tab.open? ? "false" : "true" %>">
        <% if tab.form_layout_partial.present? %>
          <%= render tab.form_layout_partial, tab:, organization: %>
        <% else %>
          <%= render "decidim_toggle/system/organizations/form_tab", tab:, organization: %>
        <% end %>
      </div>
    <% end %>
  </div>

<% else %>
  <div id="decidim-toggle-callout" class="callout alert mt-8">
    <div class="callout-content">
      <h4 class="h4 font-bold pb-2 encryption_not_configured_title"><%= t("decidim_toggle.system.organizations.encryption_not_configured_title") %></h4>
      <p class="encryption_not_configured_body"><%= t("decidim_toggle.system.organizations.encryption_not_configured") %></p>
    </div>
  </div>
<% end %>
