<% organization = local_assigns[:organization] %>
<% tab_form = tab.form_class.from_model(organization) %>
<%= form_with url: decidim_toggle_update_settings_tab_organization_path(organization, tab_id: tab.identifier),
              model: tab_form,
              scope: :organization,
              builder: Decidim::Toggle::SettingsFormBuilder,
              method: :patch,
              html: { id: "settings_tab_form_#{tab.identifier}" },
              local: true do |tf| %>
  <%= render "decidim_toggle/system/organizations/settings_tab_active_tab_field", tab: %>
  <div class="form__wrapper">
    <fieldset>
      <legend class="form-legend"><%= t("decidim_toggle.system.organizations.authorizations_tab.legend") %></legend>
      <p class="text-sm text-gray-2 mb-4"><%= t("decidim_toggle.system.organizations.authorizations_tab.hint") %></p>
      <%= tf.all_fields %>
    </fieldset>
  </div>
  <%= render "decidim_toggle/system/organizations/settings_tab_submit", form: tf %>
<% end %>
