<% organization = local_assigns[:organization] %>
<% tab = local_assigns[:tab] %>
<%= decidim_toggle_settings_tab_form(organization, tab) do |tf| %>
  <% tab_form = tf.object %>
  <fieldset>
    <legend class="form-legend"><%= t("decidim_toggle.system.organizations.language_tab.legend") %></legend>
    <table class="table-fields">
      <thead>
        <tr>
          <th><%= t("decidim_toggle.system.organizations.language_tab.locale") %></th>
          <th><%= t("decidim_toggle.system.organizations.language_tab.enabled") %></th>
          <th><%= t("decidim_toggle.system.organizations.language_tab.default") %></th>
        </tr>
      </thead>
      <tbody>
        <% localized_locales(I18n.available_locales).each do |locale| %>
          <tr>
            <td><%= locale.name %></td>
            <td><%= check_box_tag "organization[available_locales][#{locale.id}]", locale.id, Array(tab_form.available_locales).map(&:to_s).include?(locale.id.to_s), class: "!m-0" %></td>
            <td><%= radio_button_tag "organization[default_locale]", locale.id, tab_form.default_locale.to_s == locale.id.to_s, class: "!m-0" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend class="form-legend"><%= t("decidim_toggle.system.organizations.language_tab.machine_translations_legend") %></legend>
    <%= tf.fields_for_names(:enable_machine_translations) %>

    <p>
      <label class="form-legend" for="organization[machine_translation_display_priority]"><%= t("decidim_toggle.system.organizations.language_tab.machine_translation_display_priority_hint") %></label>
      <%= tf.fields_for_names(:machine_translation_display_priority) %>
    </p>
  </fieldset>
<% end %>
